<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  .checked {
    color: orange;
  }
</style>

<p id="notice"><%= notice %></p>

<div class="card" style="width: 300px;">
  <div class="card-divider">
    <h4><%= @resturant.name %></h4>
  </div>
  <div>
  <%= image_tag @resturant.image %>
  </div>
  <div>
    <p style="color: orangered">Average Rating:
      <% if @resturant.average_rating.to_i != 0 %>

        <% @resturant.average_rating.to_i.times do %>
          <span class="fa fa-star checked"></span>
        <% end %>
      <% else %>
        No Ratings
      <% end %>
    </p>
  </div>
  <div class="card-section">
    <p>Cuisines: <%= @resturant.cuisines %></p>
  </div>
  <div class="card-section">
    <p>Cost for Two: ₹<%= @resturant.price %></p>
  </div>
  <div class="card-section">
    <p><%= @resturant.description %></p>
  </div>

  <div>
    <h1>Located at:</h1>
    <% @resturant.locations.each do |l| %>
      <p style="background: yellow">Address: <%= l.address  %></p>
      <p style="background: yellow">Location: <%= l.location %></p>
    <% end %>
  </div>

  <div class="card">
    <h1>Add Location</h1>
    <%= form_for([@resturant, @resturant.locations.build]) do |fa| %>
      <div class="field">
        <%= fa.label :address %> <br/>
        <%= fa.text_field :address  %>
      </div>
      <div class="field">
        <%= fa.label :location %> <br/>
        <%= fa.select :location, options_for_select([["Select One",""], "Chennai", "Delhi"]) %>
      </div>

      <div class="field">
        <div class="actions">
          <%= fa.submit %>
        </div>
      </div>

    <% end %>
  </div>

<!--  <div class="card-divider">-->
<!--    <h2>Locations:</h2>-->

<!--  </div>-->

  <h3>Reviews</h3>
  <% @resturant.ratings.each do |rating| %>
    <p>
      <b>Reviewer:</b>
      <%= rating.commenter %>
    </p>

    <p>
      <b>Rating:</b>
      <% rating.rating.times do %>
        <span class="fa fa-star checked"></span>
      <% end %>
    </p>

    <p>
      <b>Review:</b>
      <%= rating.body %>
    </p>

    <p>
      <%= link_to 'Destroy Review', [rating.resturant, rating],
                  :confirm => 'Are you sure?',
                  :method => :delete %>
    </p>
    <p>----------------------------------</p>
  <% end %>

  <h4>Add Review:</h4>
  <%= form_for([@resturant, @resturant.ratings.build]) do |f| %>

<!--    <div class="field">-->
<!--      <p>User: <%#= current_user.name %></p>-->
<!--      </div>-->

    <div class="field">
      <%= f.label :rating %><br />
      <%= f.select :rating, options_for_select([["Select One",""], 1, 2, 3, 4, 5]) %>
    </div>
    <div class="field">
      <%= f.label :body %><br />
      <%= f.text_area :body %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

<!--  <div class="card">-->
<!--    <h1>Add Location</h1>-->
    <%#= form_for([@resturant, @resturant.locations.build]) do |fa| %>
<!--      <div class="field">-->
<!--        <%#= fa.label :address %> <br/>-->
        <%#= fa.text_field :address  %>
<!--      </div>-->
<!--      <div class="field">-->
<!--        <%#= fa.label :location %> <br/>-->
        <%#= fa.select :location, options_for_select([["Select One",""], "Chennai", "Delhi"]) %>
<!--      </div>-->

<!--      <div class="field">-->
<!--        <div class="actions">-->
          <%#= fa.submit %>
<!--        </div>-->
<!--      </div>-->

    <%# end %>
<!--  </div>-->

</div>

<%= link_to 'Edit', edit_resturant_path(@resturant) %> |
<%= link_to 'Back', resturants_path %>
